/* You can add global styles to this file, and also import other style files */
.tituloCard{
  font-size: 27px;
  text-align: center;
}
.subtituloCard{
font-size: 18px;
text-align: center;
}
.grandTodo{
  display: grid;
  grid-template-columns: 10em 200px 100px 25em;
  grid-template-rows: 4em 26em;
  /* grid-template-rows: 25% 100px auto; */
}
.itemCarta{
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}
.puntoTexto{
  display: grid;
  grid-template-columns: 150px 160px 10px;
  padding-top: 3em;
}
.textobottom{
 inline-size: 290px;
}
.botonCrear{
  font-weight: 500;
}
img{
  grid-column-start: 2;
}
