<div class="container">
  <div>
    <div class="grandTodo">
      <div class="card itemCarta">
        <div class="card-content">
          <!-- usar # es como si crearas una variable, es una sección pero de todas maneras lo guarda -->
          <form #userForm="ngForm" (ngSubmit)="addUser(userForm)">
            <div class="row">
              <div class="input-field" col-s2>
                <h1 class="tituloCard">Crea tu cuenta en Kriptanate</h1>
                <h4 class="subtituloCard"> y empieza a usar nuestra app!</h4>
                <input
                  type="text"
                  name="username"
                  #name="ngModel"
                  [(ngModel)]="UserService.selectedUser.username"
                  placeholder="Introduce tu nombre de usuario"
                />
              </div>
              <div class="input-field" col-s12>
                <input
                  type="text"
                  name="email"
                  #name="ngModel"
                  [(ngModel)]="UserService.selectedUser.email"
                  placeholder="Ejemplo KriptoUser@gmail.com"
                />
              </div>
              <div class="input-field" col-s12>
                <input
                  type="text"
                  name="password"
                  #name="ngModel"
                  [(ngModel)]="UserService.selectedUser.password"
                  placeholder="Contraseña de al menos 8 caracteres"
                />
              </div>
              <div class="card-action">
                <div class="input-field col s9">
                  <button class="btn right blue-text amber lighten-2 botonCrear">Crea tu cuenta</button>

                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="texto">
        <ul>
          <li class="puntoTexto">
            <span><img src="../../../assets/autorizacion.png " width="100" height="100"></span>
            <p>Contamos con la autorización de las principales autoridades reguladoras.</p>
          </li>
          <li class="puntoTexto">
            <span><img src="../../../assets/politica.png " width="100" height="100"></span>
            <p>Valoramos y respetamos su privacidad</p>
          </li>
          <li class="puntoTexto">
            <span><img src="../../../assets/arch.png " width="100" height="100"></span>
            <span><p>sus fondos estan seguros en bancos de gran reputacion </p></span>
          </li>
        </ul>
          <p class="textobottom">Al registrarse recibirá correos electrónicos de márketing cuya suscripcion
            podrá cancelar en cualquier momento si lo desea
          </p>

      </div>
    </div>
    <div class="col s7"></div>
  </div>
</div>
