<nav>
  <div class="nav-wrapper blue lighten-1">
    <a href="#!" class="brand-logo"><i class="material-icons orange600 principalLogo">toys</i>Kriptanate</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html"><i class="material-icons">search</i></a></li>
      <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
      <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
      <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
    </ul>
  </div>
</nav>

